{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} {{ restaurants['name'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ restaurants['city'] }}</span>
<p>{{ restaurants['address'] }}</p>


<h2>Add Review</h2>
  <form action="" method="post">
    <dl>
      <dt>rate:
      <dd><input type="text" name="rate" size="30" value="{{ request.form.name }}">
      <dt>Content:
      <dd><input type="text" name="Content" size="70" value="{{ request.form.address }}">

      
    </dl>
    <div class="actions"><input type="submit" value="Add"></div>
  </form>



{% endblock %}