{% extends 'layout.html' %}

{% block content %}





  {% if current_user.is_authenticated %}
      <form id="favorate" action="" method="post">
      {% if favorite == 1 %}
        <input class="btn btn-secondary float-right btn-sm mt-2" type="submit" name="favorite_action" value="Unfavorite the restaurant" >
      {% else %}
        <input class="btn btn-primary float-right btn-sm mt-2" type="submit" name="favorite_action" value="Favorite the restaurant" >
      {% endif %}
    </form>
    {% endif %}

  <h2>{% block title %} {{ restaurant['name'] }} {% endblock %} </h2>
  <span class="badge badge-primary">{{ restaurant['city'] }}</span>
  <p>{{ restaurant['address'] }}</p>

  
  {% if collections %}
    <form id="collection" action="" method="post">

      <div class="form-group row">
        <div class="col-sm-4">You have collected it in:</div>
        <div class="col">
          <button type="submit" class="btn btn-primary btn-sm float-right">Update collections</button>
        </div>

        <div class="container">
          {% for collection in collections %}
            {% if collection['biz_in'] %}
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id= "collection_id{{i}}" value="{{ collection['collection_id'] }}" name="collections_update" checked>
                <label class="form-check-label" for="collection_id{{i}}">{{collection['collection_id']}}</label>
              </div>
            {% else %}
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id= "collection_id{{i}}" value="{{ collection['collection_id'] }}" name="collections_update">
                <label class="form-check-label" for="collection_id{{i}}">{{collection['collection_id']}}</label>
              </div>
            {% endif %}
            
          {% endfor %}
        </div>      
      </div>
    </form>
  {% else %}
    <h2>You don't have any collection yet, please create 1</h2>
  {% endif %}
    <!-- <i class="bi bi-arrow-down-circle-fill"></i>

    <label class="custom-toggle">
      <input type="checkbox">
      <span class="custom-toggle-slider rounded-circle"></span>
    </label>
    <span class="clearfix"></span>
    <label class="custom-toggle">
      <input type="checkbox" checked>
      <span class="custom-toggle-slider rounded-circle"></span>
    </label>


    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <input type="checkbox" checked data-toggle="toggle">

    <style>
      .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
      .toggle.ios .toggle-handle { border-radius: 20px; }
    </style>
    <input type="checkbox" checked data-toggle="toggle" data-style="ios">
    -->
    
    

  <h2>Add Review</h2>
  <form action="" method="post">
    <dl>
      <dt>rate:
      <dd><input type="text" name="rate" size="40" value="{{ request.form.name }}">
      <dt>Content:
      <dd><input type="text" name="Content" size="40" value="{{ request.form.address }}">

      
    </dl>
    <div class="actions"><input type="submit" value="Add"></div>
  </form>

  {% for review in reviews %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-1" href="{{ url_for('user_reviews', user_id=review['user_id']) }}">{{ review['username'] }}</a>
          <span class="badge badge-primary">Stars: {{review['stars']}}</span>

          <small class="text-muted">{{ review['review_date'].strftime('%Y-%m-%d') }}</small>
        </div>  
        <p class="article-content">{{ review['detailed_review'] }}</p>
        <button type="button" class="btn btn-primary btn-sm">
          useful <span class="badge badge-light">{{review['useful']}}</span>
          <span class="sr-only">unread messages</span>
        </button>
        <button type="button" class="btn btn-info btn-sm">
          funny <span class="badge badge-light">{{review['funny']}}</span>
          <span class="sr-only">unread messages</span>
        </button>
        <button type="button" class="btn btn-success btn-sm">
          cool <span class="badge badge-light">{{review['cool']}}</span>
          <span class="sr-only">unread messages</span>
        </button>
      </div>
      
    </article>
  {% endfor %}

{% endblock %}