{% extends 'layout.html' %}

{% block content %}
    <h1>{% block title %} Welcome to our Yealp Platform! {% endblock %}</h1>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    
      
      
    {% for biz in bizs %}
        <article class="media content-section-2">
            <!-- {% for photo in biz['photo_ids'] %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='business_photos/' + photo|string + '.jpg') }}">
            {% endfor %} -->
            

            <div id="carouselExampleIndicators{{biz['business_id']}}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for photo in biz['photo_ids'] %}
                        <li data-target="#carouselExampleIndicators{{biz['business_id']}}" data-slide-to={{loop.index}} class="{% if loop.index == 1 %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for photo in biz['photo_ids'] %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                            <img class="d-block w-100"  src="{{ url_for('static', filename='business_photos/' + photo|string + '.jpg') }}" alt="{{biz['business_id']}}">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators{{biz['business_id']}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators{{biz['business_id']}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <h5><a href="{{url_for('restaurant', business_id=biz['business_id'])}}">
                            {{ biz['name'] }}
                        </a> </h5>
                    </div>
                    
                    <div class="col">
                        {{biz['average_stars']}}
                    </div>
                    <div class="col-md-2 px-0">
                        <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='stars/' + biz['rounded_average_stars']|string + '.png') }}">
                    </div>

                </div>
                <div class="col">
                    {% for category in biz['category_names'] %}
                        <p>{{ category }}<p/>
                    {% endfor %} 

                    <p>City: {{ biz['city'] }}</p>
                    <p>Address: {{biz['address'] }}</p>
                    <p>IsTakeout: {{biz['is_takeout'] }}</p>
                    <p>IsOpen: {{biz['is_open'] }}</p>
                </div>
                
            </div>
        </article>    
    {% endfor %}
{% endblock %}


