{% extends 'layout.html' %}


{% block content %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

  {% if current_user.is_authenticated %}
    <form id="favorate" action="" method="post">
      {% if favorite == 1 %}
        <input class="btn btn-secondary float-right btn-sm mt-2" type="submit" name="favorite_action" value="Unfavorite the restaurant" >
      {% else %}
        <input class="btn btn-primary float-right btn-sm mt-2" type="submit" name="favorite_action" value="Favorite the restaurant" >
      {% endif %}
    </form>
  {% endif %}

  <h2>{% block title %} {{ restaurant['name'] }} {% endblock %} </h2>

  <article class="media content-section-2">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for photo in restaurant['photo_ids'] %}
                <li data-target="#carouselExampleIndicators" data-slide-to={{loop.index}} class="{% if loop.index == 1 %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for photo in restaurant['photo_ids'] %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <img class="d-block w-100"  src="{{ url_for('static', filename='business_photos/' + photo|string + '.jpg') }}" alt="{{restaurant['business_id']}}">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container-fluid">
      <div class="row">

          <div class="col-7">
              <h5><a href="{{url_for('restaurant', business_id=restaurant['business_id'])}}">
                  {{ restaurant['name'] }}
              </a> </h5>
          </div>
          
          <div class="col">
              {{restaurant['average_stars']}}
          </div>
          <div class="col-md-2 px-0">
              <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='stars/' + restaurant['rounded_average_stars']|string + '.png') }}">
          </div>

        </div>
        <div class="col">
            {% for category in restaurant['category_names'] %}
                <span class="badge badge-secondary">{{category}}</span>
            {% endfor %} 

            <p>City: {{ restaurant['city'] }}</p>
            <p>Address: {{restaurant['address'] }}</p>

            {% if restaurant['is_open']|string == 'True' %}
                <b style="color:#479f71;">Open</b>
            {% else %}
                <b style="color:#cd2e20;">Closed</b>
            {% endif %}

            {% if restaurant['is_takeout']|string == 'True' %}
                &nbsp Take out<img width = "5%" src="{{ url_for('static', filename='icons/is_biz_attributes.png') }}" >
            {% endif %}
        </div>      
    </div>
  </article>

  
  
  
  <HR style="border:4 double #dbdbdb" width="100%" color=#dbdbdb SIZE=1>

  {% if collections %}
    <form id="collection" action="" method="post">
      
      <div class="form-group row">
        <div class="col-9">
          <p>You have collected it in following collections, you can 
            <a href = "{{ url_for('create_collection_in_restaurant', business_id = restaurant['business_id'], show = show)}}">
              create a new one.
            </a>
          </p>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-primary btn-sm float-right">Update collections</button>
      </div>
        <div class="container">
          {% for collection in collections %}
            {% if collection['biz_in'] %}
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id= "collection_id{{i}}" value="{{ collection['collection_id'] }}" name="collections_update" checked>
                <label class="form-check-label" for="collection_id{{i}}">{{collection['collection_id']}}</label>
              </div>
            {% else %}
              <div class="form-check form-check-inline mb-2 mr-sm-2">
                <input class="form-check-input" type="checkbox" id= "collection_id{{i}}" value="{{ collection['collection_id'] }}" name="collections_update">
                <label class="form-check-label" for="collection_id{{i}}">{{collection['collection_id']}}</label>
              </div>
            {% endif %}
            
          {% endfor %}
        </div>      
      </div>
    </form>
  {% else %}
    You don't have any collection yet, please <a href = "{{ url_for('create_collection_in_restaurant', business_id = restaurant['business_id'], show = show)}}">create</a> 1
  {% endif %}
    
    
  <HR style="border:4 double #dbdbdb" width="100%" color=#dbdbdb SIZE=1>

      <ul class="nav nav-tabs" role="tablist">
        {% if show == "review" %}
          <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Reviews" role="tab">Reviews</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Tips" role="tab">Tips</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Reviews" role="tab">Reviews</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Tips" role="tab">Tips</a>
          </li>
        {% endif %}
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        
        <div class="tab-pane {% if show == 'review' %}active{% endif %}" id="Reviews" role="tabpanel">
          <p align="middle">
            <a class="btn btn-primary btn-sm mt-3" href="{{ url_for('create_review', business_id=restaurant['business_id']) }}">Submit new detailed review</a>
          </p>

          {% for review in reviews %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
              <div class="media-body">
                <div class="review-metadata">

                  <div class="row">

                    <div class="col-10">
                      <a class="mr-1" href="{{ url_for('user_main', user_id=review['user_id']) }}">{{ review['user_name'] }}</a>
                      <span class="badge  badge-light mb-1">Words: {{review['detailed_review']|length}}</span>
                      <small class="text-muted">{{ review['review_date'].strftime('%Y-%m-%d') }}</small>
                    </div>
                    
                  
                    <div class="col-2">
                      <img class="img" width = '100%' src="{{ url_for('static', filename='stars/' + review['stars']|string + '.png') }}">
                    </div>              
                  </div>

                  
                  
                  
                </div>  
                <p class="article-content">{{ review['detailed_review'] }}</p>
                
                {% if current_user.user_id == review['user_id'] %}
                  <form action="{{ url_for('delete_review', review_id = review['review_id'], business_id=restaurant['business_id']) }}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to delete your review?')">
                  </form>  
                {% else %}
                
                  <div style="display: flex;">
                    <form action="{{ url_for('upvote_review', review_id = review['review_id'], business_id=restaurant['business_id'], upvote_type = 'useful') }}" method="POST">
                      <input class="btn btn-primary btn-sm m-1 {% if not review['is_useful'] %}disabled{% endif %}" type="submit" value="Useful: {{review['useful']}}" >
                    </form>
                    <form action="{{ url_for('upvote_review', review_id = review['review_id'], business_id=restaurant['business_id'], upvote_type = 'funny') }}" method="POST">
                      <input class="btn btn-info btn-sm m-1 {% if not review['is_funny'] %}disabled{% endif %}" type="submit" value="Funny: {{review['funny']}}" >
                    </form>
                    
                    <form action="{{ url_for('upvote_review', review_id = review['review_id'], business_id=restaurant['business_id'], upvote_type = 'cool') }}" method="POST">
                      <input class="btn btn-success btn-sm m-1 {% if not review['is_cool'] %}disabled{% endif %}" type="submit" value="Cool: {{review['cool']}}" >
                    </form>
                  </div>
                {% endif %}
              </div>
            </article>
          {% endfor %}
        </div>
        <div class="tab-pane {% if show == 'tip' %}active{% endif %}" id="Tips" role="tabpanel">

          <p align="middle">
            <a class="btn btn-primary btn-sm mt-3" href="{{ url_for('create_tip', business_id=restaurant['business_id']) }}">Submit new short tips</a>
          </p>

          {% for tip in tips %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-1" href="{{ url_for('user_main', user_id=tip['user_id']) }}">{{ tip['user_name'] }}</a>
                  <small class="text-muted">{{ tip['review_date'].strftime('%Y-%m-%d') }}</small>
                </div>  
                <p class="article-content">{{ tip['short_tip'] }}</p>
                
                {% if current_user.user_id == tip['user_id'] %}
                  <form action="{{ url_for('delete_review', review_id = tip['review_id'], business_id=restaurant['business_id']) }}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to delete your review?')">
                  </form>  
                {% else %}
                  <div style="display: flex;">
                    <form action="{{ url_for('upvote_review', review_id = tip['review_id'], business_id=restaurant['business_id'], upvote_type = 'likes') }}" method="POST">
                      <input class="btn btn-primary btn-sm m-1" type="submit" value="Likes: {{tip['likes']}}" >
                    </form>
                  </div>
                {% endif %}
              </div>
            </article>
          {% endfor %}
        </div>
    </div>

    
  
  
  
  
  

{% endblock %}