body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #d32323;
}

.site-header .navbar-nav .nav-link {
  color: #f5f5f5;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.carousel-indicators {
  bottom:-2px;
}

/* adjust the carousel width https://stackoverflow.com/questions/19481334/bootstrap-carousel-width-and-height*/
.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  min-width: 160px !important;
  max-width: 160px !important;
  
}

.content-section-2 {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}


.d-block {
  border-radius: 20px;
  height: 150px;
  width: 60px;
}


.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.review-metadata {
  padding-top: 5px;
  padding-bottom: 1px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}