{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }} for <a href = "{{url_for('restaurant', business_id=biz['business_id'])}}">{{biz['name']}}</a></legend>
            
            <p>You are giving a star rating that other users value on, so please fill in at least 30 words!
                <br>You can also only  <a href = "{{url_for('create_tip', business_id=biz['business_id'])}}">leave a short tip</a> instead.
            </p>
            
            <div class="form-group">
                {{ form.star.label(class="form-control-label") }}
                {% if form.star.errors %}
                    {{ form.star(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.star.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.star(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
