{% extends 'layout.html' %}

{% block content %}
    {% for followee in followees %}
    <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg') }}">
    
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-1" href="{{ url_for('user_main', user_id=followee['follwee_user_id']) }}">{{ followee['name'] }}</a>
    </div>
    <span class="badge badge-pill badge-light">Yealping since: {{followee['yealping_since'].strftime('%Y-%m-%d')}}</span>    
    </article>
    {% endfor %}

{% endblock %}