{% extends 'layout.html' %}

{% block content %}

    {% if current_user.is_authenticated %}
      <form id="favorate" action="" method="post">
      {% if is_fan %}
        <input class="btn btn-secondary float-right btn-sm mt-2" type="submit" name="follow_button" value="Unfollow the collection" >
      {% else %}
        <input class="btn btn-primary float-right btn-sm mt-2" type="submit" name="follow_button" value="Follow the collection" >
      {% endif %}
    </form>
    {% endif %}
    
    <h4 class="mb-3">{{ collection['collection_name'] }} by {{ user['name'] }} </h4>


    <ul>
        <li style="padding:0.25em">
            <span class="badge badge-pill badge-primary">Collection created in: 
            <span class="badge badge-light">{{collection['created_date'] }}</span> 
            </span>
        </li>
        <li style="padding:0.25em">
            <span class="badge badge-pill badge-info">Number of fans: 
            <span class="badge badge-light">{{collection['n_fans']}}</span> 
            </span>
        </li>
    </ul>

       
    {% if bizs %}
        {% for biz in bizs %}
        <a href="{{url_for('restaurant', business_id=biz['business_id'])}}">
            <h6>{{ biz['name'] }}</h6>
        </a>
        {% endfor %}
    {% endif %}

{% endblock %}